* text=auto !eol
/Calc_braincase.m -text
/calc_border_bbox.m -text
/calc_circumf_angles.m -text
/calc_landmarks.m -text
/calc_rot_angles.m -text
/disp_coronal_movie.m -text
/disp_coronal_normal.m -text
/disp_coronal_normal_mr_csf.m -text
/disp_sagittal_movie.m -text
/disp_sagittal_normal.m -text
/disp_sagittal_normal_mr_csf.m -text
/disp_transverse_movie.m -text
/disp_transverse_normal.m -text
/disp_transverse_normal_mr_csf.m -text
/find_edges_prof.m -text
/find_edges_prof_mr.m -text
/fit_function_rotation.m -text
/fit_function_sphere.m -text
/header.m -text
/keep_connected_only.m -text
/normalcy.m -text
/normalcy_master.m -text
/read_ref_landmarks_file.m -text
/rotate_3d_ct.m -text
/rotate_3d_mr.m -text
/rotate_ct_circumf.m -text
/seg_thresh.m -text
/suptitle.m -text
